$btn-large: 3.125rem;

.btn {
    border: none;
    height: $btn-large;
    background-color: #cc2b5e;
    color: $white;
    line-height: normal;
    padding: 0 2rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
    border-radius: 0.75rem;
    transition: 400ms;

    &-cta {
        background: #cc2b5e;
        background-image: linear-gradient(120deg, #0fd850 0%, #f9f047 100%);
    }

    &-outline {
        &--light {
            border: 2px solid $white;
            background-color: transparent;

            &:hover {
                background-color: $white;
                color: #ed5450;
            }
        }
    }

    &[role="button"] {
        text-decoration: none;
        line-height: $btn-large;
    }
}