.site {
    &-header {
        position: relative;
        z-index: 1090;
        &--top {
            background-color: #461ac0;
            padding: 0.5rem 0;
        }

        .icon-hamburger {
            background-image: url(../images/hamburger.svg);
            background-repeat: no-repeat;
            background-size: 0.875rem auto;
            background-color: #f5fcff;
            border-radius: 1rem;
            cursor: pointer;
            display: block;
            margin: 0;
            flex: 0 0 2.5rem;
            height: 2.5rem;
            order: 3;
            display: none;

            &:hover {
                background-color: $success;
            }
        }

        .desktop-hidden {
            position: fixed;
            opacity: 0;
            
            margin-left: 2rem;
        }

        .cta {
            margin-left: 2.5rem;
        }

        &--main {
            position: sticky;
            top: 0;
            padding: 1.25rem 0;
        }

        .icon {
            margin-right: 0.5rem;
            opacity: 0.5;

            &-marker {
                background-image: url(../images/marker.svg);
            }

            &-phone {
                background-image: url(../images/phone.svg);
            }

            &-email {
                background-image: url(../images/email.svg);
            }
        }
    }

    &-name {
        margin-right: auto;
    }

    &-contact {
        column-gap: 1.25rem;
        color: $white;
        font-size: 1rem;
        
        small {
            line-height: 1;
            word-break: break-all;
        }

        &--detail {
            align-items: center;
        }

        a {
            color: $white;
        }
    }

    @media only screen and (max-width: 767.99px) {
        &-header {
            .site-navbar {
                background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
                width: 20rem;
                left: 0;
                top: 0;
                position: fixed;
                height: 100%;
                z-index: 9;
                display: none;
                transform: translateX(-20rem);
                transition: all 400ms ease;

                ul {
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;

                    a {
                        font-size: 2.5rem;
                        font-weight: 900;
                    }
                }
            }
            
            .btn-cta {
                padding: 0 1.25rem;
                font-size: 0.75rem;
            }

            .icon-hamburger {
                display: block;
                position: relative;
                margin: 0;
                z-index: 10;
            }

            .desktop-hidden {
                &:checked ~ .site-navbar {
                    display: block;
                    transform: translateX(0);
                }
            }
        }

        &-name img {
            width: 10rem;
        }

        &-contact {
            small {
                font-size: 0.625rem;
            }
        }
    }

}